{% extends 'Equino/barNav.html' %}
{% load static %}
{% load humanize %}

{% block titulo %}Productos{% endblock %}

{% block contenedor %}
<style>
    .product-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }

    .product-card img {
        width: 200px; /* Fixed width for all images */
        height: 200px; /* Fixed height for all images */
        object-fit: cover; /* Ensures the image covers the fixed dimensions without distortion */
    }

    .product-card .card-body {
        width: 100%;
    }

    .product-card .card-title {
        font-size: 1.2em;
        margin-bottom: 0.5em;
    }

    .product-card .card-text {
        font-size: 1em;
        margin-bottom: 1em;
    }

    .product-card .btn-primary {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .product-card .btn-primary i {
        margin-right: 5px;
    }

    .product-card .stock-low {
        color: orange;
    }

    .product-card .stock-out {
        color: red;
    }

    .product-card .stock-few {
        color: blue;
    }
</style>

<h1>Productos</h1>
<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for producto in productos %}
        <div class="col">
            <div class="card product-card">
                <img src="{{ producto.foto.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <h5 class="card-title kg">{{ producto.kg }}kg</h5>
                    <p class="card-text price">$ {{ producto.precio }}</p> <!-- Eliminar decimales y agregar coma -->
                    {% if producto.cantidad <= 0 %}
                        <p class="stock-out">Producto agotado</p>
                    {% elif producto.cantidad <= 3 %}
                        <p class="stock-few">Quedan {{ producto.cantidad }} de este producto</p>
                    {% elif producto.cantidad <= 6 %}
                        <p class="stock-low">Producto casi agotado</p>
                    {% endif %}
                    {% if producto.cantidad > 0 %}
                        <a href="{% url 'agregar_producto_carrito' producto.id %}" class="btn btn-primary">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<script src="{% static 'Equino/js/formato_price.js' %}"></script>

{% endblock %}
