{% extends 'Equino/barNav.html' %}

{% block titulo %}Carrito de Compras{% endblock %}

{% block contenedor %}
<h1>Carrito de Compras</h1>

{% if carrito_vacio %}
    <p>El carrito de compras está vacío.</p>
{% else %}
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.producto.nombre }}</td>
                <td>${{ item.producto.precio }}</td>
                <td>
                    <a href="{% url 'disminuir_cantidad' item.id %}" class="btn btn-primary">-</a>
                    {{ item.cantidad }}
                    <a href="{% url 'incrementar_cantidad' item.id %}" class="btn btn-primary">+</a>
                </td>
                <td>${{ item.subtotal }}</td>
                <td>
                    <a href="{% url 'eliminar_producto_carrito' item.id %}" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Total: ${{ total }}</p>
    <a href="{% url 'vaciar_carrito' %}" class="btn btn-warning">Vaciar Carrito</a>
    <a href="{% url 'realizar_pago' %}" class="btn btn-success">Pagar</a>
{% endif %}
{% endblock %}